<div fxLayout="row" class="full-height" fxLayoutAlign="start start" fxLayoutGap="10px">
<div fxFlex="50%" class="full-height">
  <div fxLayout="row" class="custom-center"  fxFlexAlign="center end" fxLayoutGap="10px">
    <div fxFlex="50%" fxFlexAlign="end">
    </div>
    <div class="full-width" fxFlex="50%">
      <mat-card class="login-card" >
        <div fxLayout="column"  class="full-height" fxLayoutAlign="start start" fxLayoutGap="10px">
          <div fxFlex="50%">
            <span class="login-title">Login</span>
          </div>
          <div class="full-width" fxFlex="50%">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <mat-form-field class="example-full-width" class="full-width">
    <mat-label>User Name</mat-label>
    <input matInput
           placeholder="User Name">
  </mat-form-field>
  <mat-form-field class="example-full-width" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password"
           placeholder="User Name">

  </mat-form-field>
  <button mat-raised-button color="primary" class="login-btn">Primary</button>
</div>
          </div>
        </div>
   <div>
   </div>
      </mat-card>
    </div>
    </div>
</div>
<div fxFlex="50%" class="full-height login">
  <div fxLayout="column" class="vertical-center" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxFlex="100%">
      <mat-icon class="login-icon" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
    </div>
    </div>
</div>
</div>
